<nav class="navbar main-navbar">
    <a class="navbar-brand text-light" href="#">Jose Andres</a>
    <ul ngbNav #nav="ngbNav">
        <li ngbNavItem>
          <a ngbNavLink><span class='nav-number'>01.</span> Acerca de mi</a>
          <ng-template ngbNavContent>First content</ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink><span class='nav-number'>02.</span> Experiencia</a>
            <ng-template ngbNavContent>Second content</ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink><span class='nav-number'>03.</span> Trabajos</a>
            <ng-template ngbNavContent>Second content</ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink><span class='nav-number'>04.</span> Contacto</a>
          <ng-template ngbNavContent>Second content</ng-template>
        </li>
      </ul>
  </nav>