<nav class="navbar main-navbar on-top" [class.nav-shadow]='this.pageYPosition>0' [@animateMenu]='state' *ngIf='state'>
    <a class="navbar-brand text-light" [routerLink]="'inicio'">Jose Andres</a>
    <ul ngbNav #nav="ngbNav">
        <li ngbNavItem>
            <a ngbNavLink (click)='scroll("about")'><span class='nav-number'>01.</span> Acerca de mi</a>
            <ng-template ngbNavContent>First content</ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink (click)='scroll("jobs")'><span class='nav-number'>02.</span> Experiencia</a>
            <ng-template ngbNavContent>Second content</ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink (click)='scroll("proyects")'><span class='nav-number'>03.</span> Trabajos</a>
            <ng-template ngbNavContent>Second content</ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink (click)='scroll("contact")'><span class='nav-number'>04.</span> Contacto</a>
            <ng-template ngbNavContent>Second content</ng-template>
        </li>
    </ul>
    <div class="menu-wrapper">
        <div [class.animate]='responsiveMenuVisible' (click)='responsiveMenuVisible = !responsiveMenuVisible' class="hamburger-menu"></div>
    </div>
    <div class="menu-responsive" [ngStyle]="{'pointer-events': !responsiveMenuVisible ? 'none' : '' }">
      <aside [class.aside-show]='responsiveMenuVisible' [class.nav-shadow]='this.pageYPosition>0' class="on-top">
          <nav >
              <ol>
                  <li>
                    <a (click)='scroll("about")'>
                      <span >01.</span>
                      Acerca de mi
                    </a>
                  </li>
                  <li>
                    <a (click)='scroll("jobs")'>
                      <span >01.</span>
                      Experiencia</a>
                  </li>
                  <li>
                    <a (click)='scroll("proyects")'>
                      <span >01.</span>
                      Proyectos
                    </a>
                  </li>
                  <li>
                    <a (click)='scroll("contact")'>
                      <span >01.</span>
                      Contacto</a>
                  </li>
              </ol>
          </nav>
      </aside>
    </div>
</nav>