.main-navbar{
    height: 70px;
    background: #0a192f;
    font-family: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, Monospace;
}
.main-navbar .nav-link:hover{
    color: #64ffda;
}

.main-navbar .nav-link{
    color: inherit;
    margin: 0 10px;
    font-size: 13px;    
}
.main-navbar .nav-number{
    color: #64ffda;
    font-size: 12px;
}
@media (max-width: 827px){
    nav .nav{
        display: none;
    }
}

@media (min-width: 827px){
    .menu-wrapper, .menu-responsive{
        display: none;
    }
}

  .menu-wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 36px;
    height: 60px;
    cursor: pointer;
    z-index: 11;
  }
  
  .hamburger-menu,
  .hamburger-menu:after,
  .hamburger-menu:before {
    width: 36px;
    height: 1.5px;
  }
  
  .hamburger-menu {
    position: relative;
    transform: translateY(25px);
    background: #64ffda;
    transition: all 0ms 300ms;
  }
  .hamburger-menu.animate {
    background: rgba(255, 255, 255, 0);
  }
  
  .hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    background: #64ffda;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    background: #64ffda;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .hamburger-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .hamburger-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .main-navbar .aside-show{
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    right: 0px;
  }
  .main-navbar aside{
    width: 75vw;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(23, 42, 69);
    height: 100%;
    position: relative;
    right: -625px;
    margin-left: auto;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    box-shadow: rgba(2, 12, 27, 0.7) -10px 0px 30px -15px;
    padding: 25px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  .main-navbar aside nav{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    text-align: center;
    color: rgb(204, 214, 246);
  }

  .main-navbar aside nav ol{
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }

  .main-navbar aside nav ol li{
    font-size: 16px;
    margin: 0px auto 10px;
  }
  .main-navbar aside nav ol li span{
    display: block;
    color: rgb(100, 255, 218);
    font-size: 14px;
    margin-bottom: 5px;
  }
  .main-navbar aside nav ol li a{
  display: inline-block;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    padding: 3px 20px 20px;
  }

  
  .menu-responsive{
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100vh;
    z-index: 10;
    transform: translateX(0vw);
    visibility: visible;
    outline: 0px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  }
  
  