<footer>
    <ul class="footer-left-bar">
        <li>
            <a href="#" target='_blank'>
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li>
            <a href="#" target='_blank'>
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
        <li>
            <a href="#" target='_blank'>
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href="#" target='_blank'>
                <i class="fab fa-twitter"></i>
            </a>
        </li>
    </ul>
    <div class="footer-right-bar">
            <a href="#" target='_blank'> joseandreshernandezross@gmail.com </a>
    </div>
</footer>