<section class="section proficiency" id='proficiency'>
    <div class="container">
        <div class="section-box">
            <div data-aos="fade-up" data-aos-duration="1000">
                <h3 class="section-title">
                    <span class='n-section-title'>04.</span> {{ 'label.proficiency' | translate}}
                </h3>
            </div>
          <div class="container">
            <div class="row align-items-start">

              <div class="col" data-aos="fade-up" data-aos-duration="1000">
                  <h5 class="other-proyect-title mt-4">{{ 'label.proficiency.programming' | translate}}</h5>
                  <ul class="skills-list" data-aos="fade-up">
                      <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Java </span></li>
                      <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">C# </span></li>
                      <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Spring </span></li>
                      <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">HTML </span></li>
                      <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Angular </span></li>
                      <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Ionic </span></li>
                      <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">CSS & SCSS</span></li>
                      <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">TypeScript </span></li>
                  </ul>
              </div>
              <div class="col" data-aos="fade-up" data-aos-duration="1000">
                <h5 class="other-proyect-title mt-4">{{ 'label.proficiency.databases' | translate}}</h5>
                <ul class="skills-list" data-aos="fade-up">
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Oracle </span></li>
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">MySQL </span></li>
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">PostgreSQL </span></li>
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">MariaDB </span></li>
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">MongoDB </span></li>
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Redis </span></li>
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Others SQL and NoSQL </span></li>
                </ul>
              </div>
              <div class="col" data-aos="fade-up" data-aos-duration="1000">
                <h5 class="other-proyect-title mt-4">{{ 'label.proficiency.os' | translate}}</h5>
                <ul class="skills-list" data-aos="fade-up">
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Windows </span></li>
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Linux </span></li>
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">MacOS </span></li>
                </ul>
              </div>

            </div>
            <div class="row align-items-start">

              <div class="col" data-aos="fade-up" data-aos-duration="1000">
                <h5 class="other-proyect-title mt-4">{{ 'label.proficiency.network' | translate}}</h5>
                <ul class="skills-list" data-aos="fade-up">
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Cisco </span></li>
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Extreme </span></li>
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Juniper </span></li>
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">D-LINK </span></li>
                </ul>
              </div>
              <div class="col" data-aos="fade-up" data-aos-duration="1000">
                <h5 class="other-proyect-title mt-4">{{ 'label.proficiency.language' | translate}}</h5>
                <ul class="skills-list" data-aos="fade-up">
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Portuguese (Native) </span></li>
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">English </span></li>
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">French </span></li>
                  <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Dutch </span></li>
                </ul>
              </div>

            </div>
          </div>
    </div>
    </div>
</section>
