<section class="section banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <h1>{{ 'banner.pre-title' | translate}}</h1>
                </div>
                <div class='banner-title'>
                    <h2>Marcel Morais Luna</h2>
                    <h3>FullStack Developer</h3>
                </div>
                <div class='banner-description'>
                    <p [innerHTML]='"banner.description" | translate' class="mt-4"></p>
                </div>
            </div>
            <div class="div-btn-banner">
                <a (click)="sayHi()" target="_black" class="main-btn">
                    {{ 'banner.action-btn' | translate}}
                </a>
            </div>
        </div>
    </div>
</section>
