<section class="section banner">
    <div class="container">
        <div class="section-box-banner" [@aniBoton]='state' *ngIf='state'>
            <div>
                <div>
                    <h1>Hola, mi nombre es</h1>
                </div>
                <div class='banner-title' >
                    <h2>José Hernández.</h2>
                    <h3>Web Developer</h3>
                </div>
                <div class='banner-description' >
                    <p class="mt-4">
                        Soy desarollador web con 5 años de experiencia en desarrollo de sistemas, 
                        bots y sitios web. Me gusta abordar proyectos con tecnologías basadas en Laravel, 
                        Angular y Wordpress.
                    </p>
                </div>
            </div>
            <div class="div-btn-banner" >
                <!-- href="mailto:joseandreshernandezross@gmail.com" -->
                <a class="banner-btn">¡Saludame!</a>
            </div>
        </div>
    </div>
</section>