.section.archive{
    padding: 0 150px;
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding-top: 135px;
    padding-bottom: 200px;
}
.archive-title h1{
    font-size: 80px;
    line-height: 1.1;
    margin: 0;
    font-weight: 600;
    color: #ccd6f6;
    margin: 0 0 10px 0;
    font-family: Calibre,San Francisco,SF Pro Text,-apple-system,system-ui,BlinkMacSystemFont,Roboto,Helvetica Neue,Segoe UI,Arial,sans-serif;
}
.archive-subtitle{
    color: #64ffda;
    margin: 0 0 20px 0;
    font-size: 16px;
    font-family: SF Mono,Fira Code,Fira Mono,Roboto Mono,Lucida Console,Monaco,monospace;
    font-weight: normal;
    line-height: 1.5;
}
.archive-table-container{
    visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); 
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    margin: 100px -20px;
}
.archive-table-container table{
    width: 100%;
    border-collapse: collapse;
}
.archive-table-container table thead th{
    cursor: default;
    line-height: 1.5;
    padding: 10px 20px;
}

.archive-table-container table tbody tr{
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.proyect-date{
    color: #64ffda;
    font-family: SF Mono,Fira Code,Fira Mono,Roboto Mono,Lucida Console,Monaco,monospace;
    font-size: 16px;
    font-weight: normal;
    cursor: default;
    line-height: 1.5;
    padding: 10px 20px;
    width: 10%;
}

.proyect-title{
    padding-top: 15px;
    color: #ccd6f6;
    font-size: 20px;
    font-weight: 700;
    cursor: default;
    line-height: 1.5;
    padding: 10px 20px;
}

.proyect-company{
    width: 15%;
    padding-top: 15px;
    font-size: 18px;
    cursor: default;
    line-height: 1.5;
    padding: 10px 20px;
}
.proyect-skills{
    font-size: 12px;
    font-family: SF Mono,Fira Code,Fira Mono,Roboto Mono,Lucida Console,Monaco,monospace;
    cursor: default;
    line-height: 1.5;
    padding: 10px 20px;
}

.proyect-links{
    cursor: default;
    line-height: 1.5;
    padding: 10px 20px;
}

.separator{
    margin: 0 5px;
    display: inline-block;
}

.archive-table-container table tbody tr:hover, .archive-table-container table tbody tr:focus {
    background-color: #172a45;
}