<section class="section archive">
    <div class="container">
        <div class="archive-title">
            <h1>Proyectos</h1>
            <p class="archive-subtitle">A big list of things I’ve worked on</p>
        </div>
        <div class="archive-table-container">
            <table class="archive__StyledTable-lXDeB haZMKe">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Title</th>
                        <th class="hide-on-mobile">Made at</th>
                        <th class="hide-on-mobile">Built with</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-sr-id="3">
                        <td class="proyect-date">2020</td>
                        <td class="proyect-title">Integrating Algolia Search with WordPress Multisite</td>
                        <td class="proyect-company"><span>Upstatement</span></td>
                        <td class="proyect-skills">
                            <span>Algolia<span class="separator">·</span></span>
                            <span>WordPress<span class="separator">·</span></span>
                            <span>PHP</span>
                        </td>
                        <td class="proyect-links"><span><a href="https://medium.com/stories-from-upstatement/integrating-algolia-search-with-wordpress-multisite-e2dea3ed449c" target="_blank" rel="nofollow noopener noreferrer" aria-label="External Link"></a></span></td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="proyect-date">2020</td>
                        <td class="proyect-title">Integrating Algolia Search with WordPress Multisite</td>
                        <td class="proyect-company"><span>Upstatement</span></td>
                        <td class="proyect-skills">
                            <span>Algolia<span class="separator">·</span></span>
                            <span>WordPress<span class="separator">·</span></span>
                            <span>PHP</span>
                        </td>
                        <td class="proyect-links"><span><a href="https://medium.com/stories-from-upstatement/integrating-algolia-search-with-wordpress-multisite-e2dea3ed449c" target="_blank" rel="nofollow noopener noreferrer" aria-label="External Link"></a></span></td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="proyect-date">2020</td>
                        <td class="proyect-title">Integrating Algolia Search with WordPress Multisite</td>
                        <td class="proyect-company"><span>Upstatement</span></td>
                        <td class="proyect-skills">
                            <span>Algolia<span class="separator">·</span></span>
                            <span>WordPress<span class="separator">·</span></span>
                            <span>PHP</span>
                        </td>
                        <td class="proyect-links"><span><a href="https://medium.com/stories-from-upstatement/integrating-algolia-search-with-wordpress-multisite-e2dea3ed449c" target="_blank" rel="nofollow noopener noreferrer" aria-label="External Link"></a></span></td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="proyect-date">2020</td>
                        <td class="proyect-title">Integrating Algolia Search with WordPress Multisite</td>
                        <td class="proyect-company"><span>Upstatement</span></td>
                        <td class="proyect-skills">
                            <span>Algolia<span class="separator">·</span></span>
                            <span>WordPress<span class="separator">·</span></span>
                            <span>PHP</span>
                        </td>
                        <td class="proyect-links"><span><a href="https://medium.com/stories-from-upstatement/integrating-algolia-search-with-wordpress-multisite-e2dea3ed449c" target="_blank" rel="nofollow noopener noreferrer" aria-label="External Link"></a></span></td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="proyect-date">2020</td>
                        <td class="proyect-title">Integrating Algolia Search with WordPress Multisite</td>
                        <td class="proyect-company"><span>Upstatement</span></td>
                        <td class="proyect-skills">
                            <span>Algolia<span class="separator">·</span></span>
                            <span>WordPress<span class="separator">·</span></span>
                            <span>PHP</span>
                        </td>
                        <td class="proyect-links"><span><a href="https://medium.com/stories-from-upstatement/integrating-algolia-search-with-wordpress-multisite-e2dea3ed449c" target="_blank" rel="nofollow noopener noreferrer" aria-label="External Link"></a></span></td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="proyect-date">2020</td>
                        <td class="proyect-title">Integrating Algolia Search with WordPress Multisite</td>
                        <td class="proyect-company"><span>Upstatement</span></td>
                        <td class="proyect-skills">
                            <span>Algolia<span class="separator">·</span></span>
                            <span>WordPress<span class="separator">·</span></span>
                            <span>PHP</span>
                        </td>
                        <td class="proyect-links"><span><a href="https://medium.com/stories-from-upstatement/integrating-algolia-search-with-wordpress-multisite-e2dea3ed449c" target="_blank" rel="nofollow noopener noreferrer" aria-label="External Link"></a></span></td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="proyect-date">2020</td>
                        <td class="proyect-title">Integrating Algolia Search with WordPress Multisite</td>
                        <td class="proyect-company"><span>Upstatement</span></td>
                        <td class="proyect-skills">
                            <span>Algolia<span class="separator">·</span></span>
                            <span>WordPress<span class="separator">·</span></span>
                            <span>PHP</span>
                        </td>
                        <td class="proyect-links"><span><a href="https://medium.com/stories-from-upstatement/integrating-algolia-search-with-wordpress-multisite-e2dea3ed449c" target="_blank" rel="nofollow noopener noreferrer" aria-label="External Link"></a></span></td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="proyect-date">2020</td>
                        <td class="proyect-title">Integrating Algolia Search with WordPress Multisite</td>
                        <td class="proyect-company"><span>Upstatement</span></td>
                        <td class="proyect-skills">
                            <span>Algolia<span class="separator">·</span></span>
                            <span>WordPress<span class="separator">·</span></span>
                            <span>PHP</span>
                        </td>
                        <td class="proyect-links"><span><a href="https://medium.com/stories-from-upstatement/integrating-algolia-search-with-wordpress-multisite-e2dea3ed449c" target="_blank" rel="nofollow noopener noreferrer" aria-label="External Link"></a></span></td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="proyect-date">2020</td>
                        <td class="proyect-title">Integrating Algolia Search with WordPress Multisite</td>
                        <td class="proyect-company"><span>Upstatement</span></td>
                        <td class="proyect-skills">
                            <span>Algolia<span class="separator">·</span></span>
                            <span>WordPress<span class="separator">·</span></span>
                            <span>PHP</span>
                        </td>
                        <td class="proyect-links"><span><a href="https://medium.com/stories-from-upstatement/integrating-algolia-search-with-wordpress-multisite-e2dea3ed449c" target="_blank" rel="nofollow noopener noreferrer" aria-label="External Link"></a></span></td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="proyect-date">2020</td>
                        <td class="proyect-title">Integrating Algolia Search with WordPress Multisite</td>
                        <td class="proyect-company"><span>Upstatement</span></td>
                        <td class="proyect-skills">
                            <span>Algolia<span class="separator">·</span></span>
                            <span>WordPress<span class="separator">·</span></span>
                            <span>PHP</span>
                        </td>
                        <td class="proyect-links"><span><a href="https://medium.com/stories-from-upstatement/integrating-algolia-search-with-wordpress-multisite-e2dea3ed449c" target="_blank" rel="nofollow noopener noreferrer" aria-label="External Link"></a></span></td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="proyect-date">2020</td>
                        <td class="proyect-title">Integrating Algolia Search with WordPress Multisite</td>
                        <td class="proyect-company"><span>Upstatement</span></td>
                        <td class="proyect-skills">
                            <span>Algolia<span class="separator">·</span></span>
                            <span>WordPress<span class="separator">·</span></span>
                            <span>PHP</span>
                        </td>
                        <td class="proyect-links"><span><a href="https://medium.com/stories-from-upstatement/integrating-algolia-search-with-wordpress-multisite-e2dea3ed449c" target="_blank" rel="nofollow noopener noreferrer" aria-label="External Link"></a></span></td>
                    </tr>
                     <tr data-sr-id="3">
                        <td class="proyect-date">2020</td>
                        <td class="proyect-title">Integrating Algolia Search with WordPress Multisite</td>
                        <td class="proyect-company"><span>Upstatement</span></td>
                        <td class="proyect-skills">
                            <span>Algolia<span class="separator">·</span></span>
                            <span>WordPress<span class="separator">·</span></span>
                            <span>PHP</span>
                        </td>
                        <td class="proyect-links"><span><a href="https://medium.com/stories-from-upstatement/integrating-algolia-search-with-wordpress-multisite-e2dea3ed449c" target="_blank" rel="nofollow noopener noreferrer" aria-label="External Link"></a></span></td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="proyect-date">2020</td>
                        <td class="proyect-title">Integrating Algolia Search with WordPress Multisite</td>
                        <td class="proyect-company"><span>Upstatement</span></td>
                        <td class="proyect-skills">
                            <span>Algolia<span class="separator">·</span></span>
                            <span>WordPress<span class="separator">·</span></span>
                            <span>PHP</span>
                        </td>
                        <td class="proyect-links"><span><a href="https://medium.com/stories-from-upstatement/integrating-algolia-search-with-wordpress-multisite-e2dea3ed449c" target="_blank" rel="nofollow noopener noreferrer" aria-label="External Link"></a></span></td>
                    </tr>
                     <tr data-sr-id="3">
                        <td class="proyect-date">2020</td>
                        <td class="proyect-title">Integrating Algolia Search with WordPress Multisite</td>
                        <td class="proyect-company"><span>Upstatement</span></td>
                        <td class="proyect-skills">
                            <span>Algolia<span class="separator">·</span></span>
                            <span>WordPress<span class="separator">·</span></span>
                            <span>PHP</span>
                        </td>
                        <td class="proyect-links"><span><a href="https://medium.com/stories-from-upstatement/integrating-algolia-search-with-wordpress-multisite-e2dea3ed449c" target="_blank" rel="nofollow noopener noreferrer" aria-label="External Link"></a></span></td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="proyect-date">2020</td>
                        <td class="proyect-title">Integrating Algolia Search with WordPress Multisite</td>
                        <td class="proyect-company"><span>Upstatement</span></td>
                        <td class="proyect-skills">
                            <span>Algolia<span class="separator">·</span></span>
                            <span>WordPress<span class="separator">·</span></span>
                            <span>PHP</span>
                        </td>
                        <td class="proyect-links"><span><a href="https://medium.com/stories-from-upstatement/integrating-algolia-search-with-wordpress-multisite-e2dea3ed449c" target="_blank" rel="nofollow noopener noreferrer" aria-label="External Link"></a></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>