<section class="section education" id="education">
    <div class="container">
        <div class="section-box">
            <div class="">
                <h3 class="section-title">
                    <span class='n-section-title'>04.</span> {{ 'education.title' | translate}}
                </h3>
            </div>
            <div class="mt-5">
                <div class="row p-0">
                    @for (education of educations; track education.id) {
                        <div class="col-12 col-md-6 col-lg-6 col-xl-4 proyect-col" data-aos="fade-up" data-aos-duration="1000">
                            <div class="more-proyect-box">
                                <div class="row w-100 text-left m-0 p-0">
                                    <div class="col-6 p-0">
                                        <img src='assets/icons/diploma.svg' width="40" class="filter-green">
                                    </div>
                                    <h5 class="other-proyect-title mt-4">{{ education.title | translate }}</h5>
                                    <p class="other-proyect-description">
                                        {{ education.description | translate}}
                                    </p>
                                    <p class="other-proyect-description">
                                        {{ education.date | translate}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
