<section class="section about" id='about'>
    <div class="container">
        <div class="section-box">
            <div class="about-title" data-aos="fade-up">
                <h3 class="section-title">
                    <span class='n-section-title'>01.</span> {{ 'about-me.title' | translate}}
                </h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <div class="about-description">
                      @for (description of descriptions; track description.id) {
                        <p [innerHTML]="description.description | translate" data-aos="fade-up" data-aos-duration="1000"></p>
                      }
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0 text-center" data-aos="fade-up" data-aos-duration="1000">
                    <div class="about-img-container">
                        <img (click)='analyticsService.sendAnalyticEvent("click_image", "about", "image")' class="rounded" width="400" height="300" src="assets/images/me4.jpg" alt="Marcel Morais Luna">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
