<section class="section about jobs" id='jobs'>
    <div class="container">
        <div class="section-box">
            <div class="about-title mb-5">
                <h3 class="e-font section-title">
                    <span class='code-font n-section-title'>02.</span> ¿Donde he trabajado?
                </h3>
            </div>
            <ngb-tabset class="jobs-tabs">
                <ngb-tab title="Moebius">
                  <ng-template ngbTabContent>
                      <h4 class='title-tab-content'>Programador FullStack <span class="company-tab-content">@ Moebius</span></h4>
                      <h5 class="job-time">Abril 2020 - Actualidad</h5>
                      <p class="job-description">
                        Encargado del levantamiento de una aplicación web para gestión de datos turísticos. Las tecnologías bases involucradas en el desarrollo incluyen Laravel (API REST) y Angular en su versión 9. Mis tareas principales traducían las ideas del proyecto en interfaces funcionales, limpias y modernas. Constantes informes de actividades e interacción frecuente con el equipo para coordinar esfuerzos también son parte del trabajo del día a día para este sistema. Siempre encantado y apasionado desde el primer momento en todo el proceso de desarrollo
                      </p>
                    <span></span>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Proyex">
                    <ng-template ngbTabContent>
                        <h4 class='title-tab-content'>Analista de sistema <span class="company-tab-content">@ Proyex</span></h4>
                        <h5 class="job-time">Enero 2019 - Octubre 2019 </h5>
                        <p class="job-description">
                            Mis tareas principales abarcaron el desarrollo de una aplicación web realizada en Laravel, cuya función principal consistía en procesar datos de consumo de aguas industriales que se almacenaban en bases de datos para luego presentar informes, gráficos y alertas con alarmas automatizadas. Este proceso de monitoreo de datos y bombas, era facilitado por un panel de geolocalizacion que estuve programando en OpenLayers. Otras tecnologías usadas en los requerimientos fueron blade, webpack, bootstrap y javascript.
                        </p>
                      <span></span>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="TechLatam">
                    <ng-template ngbTabContent>
                        <h4 class='title-tab-content'>Frontend developer <span class="company-tab-content">@ TechLatam</span></h4>
                        <h5 class="job-time">Julio 2018 - Diciembre 2018</h5>
                        <p class="job-description">
                            Mis habilidades como frontend fueron constantemente usadas en el periodo de tiempo que estuve como desarrollador en TechLatam. Mis principales funciones en este cargo eran maquetar sitios web, rendir informes diarios y mantener interacción con el equipo de trabajo. Estuve desarrollando diversas plantillas para wordpress (marco de desarrollo base para todas las web), utilizando tambien gulp, sass, bulma, git, entre otros. Un trabajo que disfrute de principio a fin.
                        </p>
                      <span></span>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="CANTV">
                    <ng-template ngbTabContent>
                        <h4 class='title-tab-content'>Analista de sistema <span class="company-tab-content">@ CANTV</span></h4>
                        <h5 class="job-time">Marzo 2017 - Mayo 2017</h5>
                        <p class="job-description">
                            CANTV es una de las empresas de telecomunicaciones mas grandes del país, en la estuve desempeñándome como analista de sistema encargado de dar soporte en equipo a una aplicación de gestión de solicitudes desarrollada en VB. Un cargo en el que el trabajo en equipo era fundamental.
                        </p>
                      <span></span>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="IEP">
                    <ng-template ngbTabContent>
                        <h4 class='title-tab-content'>Profesor de Ingles <span class="company-tab-content">@ IEP</span></h4>
                        <h5 class="job-time">Abril 2020 - Actualidad</h5>
                        <p class="job-description">
                            En esta oportunidad ejercí mis conocimientos y habilidades de comunicación y enseñanza en función de instruir a mas de 200 alumnos en materia de Ingles Básico.
                        </p>
                      <span></span>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Workana">
                    <ng-template ngbTabContent>
                        <h4 class='title-tab-content'>Freelancer <span class="company-tab-content">@ Workana</span></h4>
                        <h5 class="job-time">Mayo 2015 - Actualidad</h5>
                        <p class="job-description">
                            Mis inicios como programador empezaron con proyectos freelancer desde el año 2015, trabajando en diversos proyectos para distintas personas. Realice trabajos que iban desde bots para telegram y slack hasta blogs y tiendas virtuales con Wordpress y Joomla. En el transcurso de este tiempo como freelancer me he especializado en Laravel, Angular y Wordpress siendo los marcos de desarrollo principales bajo las cuales trabajo. También me especialice en tecnologías bases como Bootstrap, Materialize, Angular Material, TypeScript, Javascript, ecmascript, gulp, css. sass git, etc.
                        </p>
                      <span></span>
                    </ng-template>
                  </ngb-tab>
                
              </ngb-tabset>
        </div>
    </div>
</section>