<section class="section jobs" id='jobs'>
    <div class="container">
        <div class="section-box">
            <div class="about-title mb-5" data-aos="fade-up" data-aos-duration="1000">
                <h3 class="e-font section-title">
                    <span class='code-font n-section-title'>02.</span> ¿Donde he trabajado?
                </h3>
            </div>
            <ngb-tabset class="jobs-tabs" data-aos="fade-up" data-aos-duration="1000">
              <ngb-tab title="Proyex">
                <ng-template ngbTabContent>
                    <h4 class='title-tab-content'>Fullstack developer | <span class="company-tab-content">Proyex</span></h4>
                    <h5 class="job-time">Diciembre 2019 - Actualidad </h5>
                    <p class="job-description">
                        Creación y mantenimiento de una plataforma de monitorio con gráficos en Wordpress. Programación funcional 
                        en plantillas y plugins para añadir las características necesarias de monitorio.
                        Implementación de integración continua y respaldos diarios. Creación y mantenimiento de una
                        segunda plataforma de Monitoreo Realizada en Angular, Angular Material, Laravel, Mysql, RxJS, Sass con gráficos (configurables), sistema de alarmas, y gestión de usuarios
                        y configuración de parámetros generales. Reuniones de planificación en informes.
                    </p>
                  <span></span>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Freelancer">
                <ng-template ngbTabContent>
                    <h4 class='title-tab-content'>Independiente | <span class="company-tab-content">Freelancer</span></h4>
                    <h5 class="job-time">Mayo 2016 - Actualidad</h5>
                    <p class="job-description">
                        Implementando mejoras continuas, trabajando en frontend y backend. Creando plataformas
                        con Angular, Laravel, ExpressJS, Wordpress programadas con paradigmas de programación funcional, reactiva
                        y orientada a objetos.
                    </p>
                  <span></span>
                </ng-template>
              </ngb-tab>
                <ngb-tab title="Moebius">
                  <ng-template ngbTabContent>
                      <h4 class='title-tab-content'>FullStack developer | <span class="company-tab-content">Moebius</span></h4>
                      <h5 class="job-time">Julio 2017 - Octubre 2018</h5>
                      <p class="job-description">
                        Liderando un equipo de 4 personas en el desarrollo de una plataforma
                        de gestión de Datos de turismo hecha en Angular, Laravel y MySQL. 
                        Implementando CI/CD en Azure. Refactorizando y optimizando tiempos de carga
                        de la aplicación. Codificación de peticiones a API con RxJS. Redacción de informes
                        semanales acerca de metas y planes.
                      </p>
                    <span></span>
                  </ng-template>
                </ngb-tab>
                  <ngb-tab title="TechLatam">
                    <ng-template ngbTabContent>
                        <h4 class='title-tab-content'>Frontend developer | <span class="company-tab-content">TechLatam</span></h4>
                        <h5 class="job-time">Febrero 2016 - Mayo 2017</h5>
                        <p class="job-description">
                            Creación de plantillas de wordpress con ACF, programación funcional en Javascript / jQuery,
                            estilos en SASS, integración de mejoras en diseño y tiempos de carga de plantillas.
                            Comunicación efectiva con equipo de diseño, trabajando con Avocode / Figma
                        </p>
                      <span></span>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="CANTV">
                    <ng-template ngbTabContent>
                        <h4 class='title-tab-content'>Analista de sistema | <span class="company-tab-content">CANTV</span></h4>
                        <h5 class="job-time">Noviembre 2015 - Diciembre 2016</h5>
                        <p class="job-description">
                            CANTV, empresas de telecomunicaciones más grandes del país. Como asignaciones regulares, debía
                            programar nuevas funcionalidades para una plataforma de gestión de empleados existente realizada en Angular y ExpressJS,
                            Realizar refactorización de código antiguo. Asegurar la compatibilidad de cada dependencia en cada actualización, junto también
                            con la actualización regular de Angular
                        </p>
                      <span></span>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="IEP">
                    <ng-template ngbTabContent>
                        <h4 class='title-tab-content'>Profesor de Inglés | <span class="company-tab-content">IEP</span></h4>
                        <h5 class="job-time">Enero 2015 - Julio 2015</h5>
                        <p class="job-description">
                            Enseñando ingles a nivel básico a una matrícula de más de 200 alumnos.
                        </p>
                      <span></span>
                    </ng-template>
                  </ngb-tab>
                
              </ngb-tabset>
        </div>
    </div>
</section>