<section class="section" id="contact">
  <div class="container contact">
    <div class="section-box">
      <div class="mb-4" data-aos="fade-up" data-aos-duration="1000">
        <h3 class="contact-pre-title big-subtitle">
          05. {{ 'contact.pre-title' | translate }}
        </h3>
        <h4 class="e-font contact-title big-title">
          {{ 'contact.title' | translate }}
        </h4>
      </div>
      <p data-aos="fade-up" data-aos-duration="1000">
        {{ 'contact.content' | translate }}
      </p>
      <div class="mt-5">
        <form [formGroup]="sendEmailForm" (ngSubmit)="sendEmail()">
          <div class="form-group input-settings">
            <input type="text" class="form-control text-success" id="name" formControlName="name" placeholder="{{ 'label.name' | translate }}">
          </div>
          <div class="form-group input-settings">
            <input type="text" class="form-control text-success" id="email" formControlName="from" placeholder="{{ 'label.email' | translate }}">
          </div>
          <div class="form-group input-settings">
            <textarea type="text" class="form-control text-success" id="text" formControlName="text" placeholder="{{ 'label.message' | translate }}"></textarea>
          </div>

          <button type="submit" [disabled]="sendEmailForm.invalid" class="main-btn" data-aos="fade-up" data-aos-duration="1000">{{ 'contact.btn' | translate }}</button>
        </form>

      </div>
    </div>
  </div>
</section>
