<section class="section about" id='proyects'>
    <div class="container">
        <div class="section-box">
            <div class="about-title" data-aos="fade-up" data-aos-duration="1000">
                <h3 class="e-font section-title">
                    <span class='code-font n-section-title'>03.</span> Mis proyectos
                </h3>
            </div>
            
            <div class="d-flex proyect-container" data-aos="fade-up" data-aos-duration="1000">
                <div class="img-feature-proyect-container">
                    <div class="img-feature-proyect-box">
                        <img class='img-feature-proyect rounded' src="assets/images/abaco-proyect.png" alt="" width='600px'>
                    </div>
                </div>
                <div class="proyect-info-right h-100" style="background-image: url('assets/images/abaco-proyect.png');">
                    <div class="proyect-box">
                            <h4 class="text-right feature-proyect">Proyecto Destacado</h4>
                            <h5 class="text-right proyect-name">Abaco</h5>

                            <div class="proyect-description-box">
                                <p class="mb-0">Una aplicion web encargada de la gestion de datos de clientes y proveedores turistico. Su desarrollo fue junto al equipo de Moebius (Empresa Argentina de Turismo). Fui arquitecto de software como fullstack</p>
                            </div>
                            <ul class="proyect-skills justify-content-end">
                                <li class="ml-3">Laravel 5</li>
                                <li class="ml-3">Angular 9</li>
                                <li class="ml-3">SASS</li>
                                <li class="ml-3">Materialize</li>
                                <li class="ml-3">GIT</li>
                            </ul>
                            <div class="proyect-links text-right">
                                <!-- <i class="ml-3 fab fa-github"></i> -->
                                <a style='color: inherit' href="https://abaco.damplix.com" target="_blank"><i class="ml-3 fas fa-external-link-alt"></i></a>
                            </div>
                    </div>
                </div>
            </div>
            
            <div class="d-flex proyect-container" data-aos="fade-up" data-aos-duration="1000">
                <div class="proyect-info-left h-100" style="background-image: url('assets/images/cronometraje-proyect.png')">
                    <div class="proyect-box">
                            <h4 class="text-left feature-proyect">Proyecto Destacado</h4>
                            <h5 class="text-left proyect-name">Cronometraje</h5>

                            <div class="proyect-description-box">
                                <p class="mb-0">Una Aplicación web desarrollada para la gestion de datos deportivos para una empresa Argentina. Me encargue del desarrollo en todos los aspectos, desde la planificacion hasta la ejecucion, empezando por el frontend y recorriendo toda su arquitectura hasta la base de datos</p>
                            </div>
                            <ul class="proyect-skills justify-content-star">
                                <li class="mr-3">Laravel 5</li>
                                <li class="mr-3">Webpack</li>
                                <li class="mr-3">Bootstrap</li>
                                <li class="mr-3">Git</li>
                            </ul>
                            <div class="proyect-links text-left">
                                <a style='color: inherit' href="https://github.com/andresjosehr/Cronometraje" target="_blank"><i class="ml-3 fab fa-github"></i></a>
                                <a style='color: inherit' href="https://cronometraje.damplix.com" target="_blank"><i class="ml-3 fas fa-external-link-alt"></i></a>
                            </div>
                    </div>
                </div>
                <div class="img-feature-proyect-container" data-aos="fade-up" data-aos-duration="1000">
                    <div class="img-feature-proyect-box">
                        <img class='img-feature-proyect rounded' src="assets/images/cronometraje-proyect.png" alt="" width='600px'>
                    </div>
                </div>
            </div>
            
            <div class="d-flex proyect-container" data-aos="fade-up" data-aos-duration="1000">
                <div class="img-feature-proyect-container">
                    <div class="img-feature-proyect-box">
                        <img class='img-feature-proyect rounded' src="assets/images/tugo-proyect.png" alt="" width='600px'>
                    </div>
                </div>
                <div class="proyect-info-right h-100" style="background-image: url('assets/images/tugo-proyect.png');">
                    <div class="proyect-box">
                            <h4 class="text-right feature-proyect">Proyecto Destacado</h4>
                            <h5 class="text-right proyect-name">Tugo</h5>

                            <div class="proyect-description-box">
                                <p class="mb-0">Sitio web desarrollado para una startup de mochileros. Realizada bajo la direccion del equipo de TechLatam (Empresa en la cual trabaje como frontend). De igual manera, la mayor parte del proyecto tuvo que ver con desarrollo frontend</p>
                            </div>
                            <ul class="proyect-skills justify-content-end">
                                <li class="ml-3">Wordpress codex</li>
                                <li class="ml-3">Gulp</li>
                                <li class="ml-3">Bulma</li>
                                <li class="ml-3">SASS</li>
                                <li class="ml-3">GIT</li>
                            </ul>
                            <div class="proyect-links text-right">
                                <a style='color: inherit' href="https://github.com/andresjosehr/Tugo" target="_blank"><i class="ml-3 fab fa-github"></i></a>
                                <a style='color: inherit' href="https://tugo.damplix.com" target="_blank"><i class="ml-3 fas fa-external-link-alt"></i></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>