<section class="section about">
    <div class="container">
        <div class="section-box">
            <div class="about-title">
                <h3 class="e-font section-title">
                    <span class='code-font n-section-title'>04.</span> Otros proyectos
                </h3>
                <!-- <a href="#" class="see-all-proyects"> Ver Todos</a> -->
            </div>
            <div class="jobs-container mt-5">
                <div class="row p-0">
                    <div class="col-4 proyect-col">
                        <div class="more-proyect-box">
                            <div class="row w-100 text-left m-0 p-0 mb-4">
                                <div class="col-6 p-0">
                                    <img src='assets/icons/folder.svg' width="40">
                                </div>
                                <div class="col-6 d-flex p-0 justify-content-end">
                                    <i class="ml-4 fab fa-github"></i>
                                    <i class="ml-4 fas fa-external-link-alt"></i>
                                </div>
                                <h5 class="other-proyect-title mt-4">Apple Music Embeddable Web Player Widget</h5>
                                <p class="other-proyect-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum odit cum ab maiores, suscipit itaque. Laboriosam, enim et.</p>
                            </div>
                            <div>
                                <ul class="more-proyects-skills">
                                    <li>Next.js</li>
                                    <li>Tailwind CSS</li>
                                    <li>Firebase</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 proyect-col">
                        <div class="more-proyect-box">
                            <div class="row w-100 text-left m-0 p-0 mb-4">
                                <div class="col-6 p-0">
                                    <img src='assets/icons/folder.svg' width="40">
                                </div>
                                <div class="col-6 d-flex p-0 justify-content-end">
                                    <i class="ml-4 fab fa-github"></i>
                                    <i class="ml-4 fas fa-external-link-alt"></i>
                                </div>
                                <h5 class="other-proyect-title mt-4">Apple Music Embeddable Web Player Widget</h5>
                                <p class="other-proyect-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum odit cum ab maiores, suscipit itaque. Laboriosam, enim et.</p>
                            </div>
                            <div>
                                <ul class="more-proyects-skills">
                                    <li>Next.js</li>
                                    <li>Tailwind CSS</li>
                                    <li>Firebase</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 proyect-col">
                        <div class="more-proyect-box">
                            <div class="row w-100 text-left m-0 p-0 mb-4">
                                <div class="col-6 p-0">
                                    <img src='assets/icons/folder.svg' width="40">
                                </div>
                                <div class="col-6 d-flex p-0 justify-content-end">
                                    <i class="ml-4 fab fa-github"></i>
                                    <i class="ml-4 fas fa-external-link-alt"></i>
                                </div>
                                <h5 class="other-proyect-title mt-4">Apple Music Embeddable Web Player Widget</h5>
                                <p class="other-proyect-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum odit cum ab maiores, suscipit itaque. Laboriosam, enim et.</p>
                            </div>
                            <div>
                                <ul class="more-proyects-skills">
                                    <li>Next.js</li>
                                    <li>Tailwind CSS</li>
                                    <li>Firebase</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-0">
                    <div class="col-4 proyect-col">
                        <div class="more-proyect-box">
                            <div class="row w-100 text-left m-0 p-0 mb-4">
                                <div class="col-6 p-0">
                                    <img src='assets/icons/folder.svg' width="40">
                                </div>
                                <div class="col-6 d-flex p-0 justify-content-end">
                                    <i class="ml-4 fab fa-github"></i>
                                    <i class="ml-4 fas fa-external-link-alt"></i>
                                </div>
                                <h5 class="other-proyect-title mt-4">Apple Music Embeddable Web Player Widget</h5>
                                <p class="other-proyect-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum odit cum ab maiores, suscipit itaque. Laboriosam, enim et.</p>
                            </div>
                            <div>
                                <ul class="more-proyects-skills">
                                    <li>Next.js</li>
                                    <li>Tailwind CSS</li>
                                    <li>Firebase</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 proyect-col">
                        <div class="more-proyect-box">
                            <div class="row w-100 text-left m-0 p-0 mb-4">
                                <div class="col-6 p-0">
                                    <img src='assets/icons/folder.svg' width="40">
                                </div>
                                <div class="col-6 d-flex p-0 justify-content-end">
                                    <i class="ml-4 fab fa-github"></i>
                                    <i class="ml-4 fas fa-external-link-alt"></i>
                                </div>
                                <h5 class="other-proyect-title mt-4">Apple Music Embeddable Web Player Widget</h5>
                                <p class="other-proyect-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum odit cum ab maiores, suscipit itaque. Laboriosam, enim et.</p>
                            </div>
                            <div>
                                <ul class="more-proyects-skills">
                                    <li>Next.js</li>
                                    <li>Tailwind CSS</li>
                                    <li>Firebase</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 proyect-col">
                        <div class="more-proyect-box">
                            <div class="row w-100 text-left m-0 p-0 mb-4">
                                <div class="col-6 p-0">
                                    <img src='assets/icons/folder.svg' width="40">
                                </div>
                                <div class="col-6 d-flex p-0 justify-content-end">
                                    <i class="ml-4 fab fa-github"></i>
                                    <i class="ml-4 fas fa-external-link-alt"></i>
                                </div>
                                <h5 class="other-proyect-title mt-4">Apple Music Embeddable Web Player Widget</h5>
                                <p class="other-proyect-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum odit cum ab maiores, suscipit itaque. Laboriosam, enim et.</p>
                            </div>
                            <div>
                                <ul class="more-proyects-skills">
                                    <li>Next.js</li>
                                    <li>Tailwind CSS</li>
                                    <li>Firebase</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-0">
                    <div class="col-4 proyect-col">
                        <div class="more-proyect-box">
                            <div class="row w-100 text-left m-0 p-0 mb-4">
                                <div class="col-6 p-0">
                                    <img src='assets/icons/folder.svg' width="40">
                                </div>
                                <div class="col-6 d-flex p-0 justify-content-end">
                                    <i class="ml-4 fab fa-github"></i>
                                    <i class="ml-4 fas fa-external-link-alt"></i>
                                </div>
                                <h5 class="other-proyect-title mt-4">Apple Music Embeddable Web Player Widget</h5>
                                <p class="other-proyect-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum odit cum ab maiores, suscipit itaque. Laboriosam, enim et.</p>
                            </div>
                            <div>
                                <ul class="more-proyects-skills">
                                    <li>Next.js</li>
                                    <li>Tailwind CSS</li>
                                    <li>Firebase</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 proyect-col">
                        <div class="more-proyect-box">
                            <div class="row w-100 text-left m-0 p-0 mb-4">
                                <div class="col-6 p-0">
                                    <img src='assets/icons/folder.svg' width="40">
                                </div>
                                <div class="col-6 d-flex p-0 justify-content-end">
                                    <i class="ml-4 fab fa-github"></i>
                                    <i class="ml-4 fas fa-external-link-alt"></i>
                                </div>
                                <h5 class="other-proyect-title mt-4">Apple Music Embeddable Web Player Widget</h5>
                                <p class="other-proyect-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum odit cum ab maiores, suscipit itaque. Laboriosam, enim et.</p>
                            </div>
                            <div>
                                <ul class="more-proyects-skills">
                                    <li>Next.js</li>
                                    <li>Tailwind CSS</li>
                                    <li>Firebase</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 proyect-col">
                        <div class="more-proyect-box">
                            <div class="row w-100 text-left m-0 p-0 mb-4">
                                <div class="col-6 p-0">
                                    <img src='assets/icons/folder.svg' width="40">
                                </div>
                                <div class="col-6 d-flex p-0 justify-content-end">
                                    <i class="ml-4 fab fa-github"></i>
                                    <i class="ml-4 fas fa-external-link-alt"></i>
                                </div>
                                <h5 class="other-proyect-title mt-4">Apple Music Embeddable Web Player Widget</h5>
                                <p class="other-proyect-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum odit cum ab maiores, suscipit itaque. Laboriosam, enim et.</p>
                            </div>
                            <div>
                                <ul class="more-proyects-skills">
                                    <li>Next.js</li>
                                    <li>Tailwind CSS</li>
                                    <li>Firebase</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-0">
                    <div class="col-4 proyect-col">
                        <div class="more-proyect-box">
                            <div class="row w-100 text-left m-0 p-0 mb-4">
                                <div class="col-6 p-0">
                                    <img src='assets/icons/folder.svg' width="40">
                                </div>
                                <div class="col-6 d-flex p-0 justify-content-end">
                                    <i class="ml-4 fab fa-github"></i>
                                    <i class="ml-4 fas fa-external-link-alt"></i>
                                </div>
                                <h5 class="other-proyect-title mt-4">Apple Music Embeddable Web Player Widget</h5>
                                <p class="other-proyect-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum odit cum ab maiores, suscipit itaque. Laboriosam, enim et.</p>
                            </div>
                            <div>
                                <ul class="more-proyects-skills">
                                    <li>Next.js</li>
                                    <li>Tailwind CSS</li>
                                    <li>Firebase</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 proyect-col">
                        <div class="more-proyect-box">
                            <div class="row w-100 text-left m-0 p-0 mb-4">
                                <div class="col-6 p-0">
                                    <img src='assets/icons/folder.svg' width="40">
                                </div>
                                <div class="col-6 d-flex p-0 justify-content-end">
                                    <i class="ml-4 fab fa-github"></i>
                                    <i class="ml-4 fas fa-external-link-alt"></i>
                                </div>
                                <h5 class="other-proyect-title mt-4">Apple Music Embeddable Web Player Widget</h5>
                                <p class="other-proyect-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum odit cum ab maiores, suscipit itaque. Laboriosam, enim et.</p>
                            </div>
                            <div>
                                <ul class="more-proyects-skills">
                                    <li>Next.js</li>
                                    <li>Tailwind CSS</li>
                                    <li>Firebase</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 proyect-col">
                        <div class="more-proyect-box">
                            <div class="row w-100 text-left m-0 p-0 mb-4">
                                <div class="col-6 p-0">
                                    <img src='assets/icons/folder.svg' width="40">
                                </div>
                                <div class="col-6 d-flex p-0 justify-content-end">
                                    <i class="ml-4 fab fa-github"></i>
                                    <i class="ml-4 fas fa-external-link-alt"></i>
                                </div>
                                <h5 class="other-proyect-title mt-4">Apple Music Embeddable Web Player Widget</h5>
                                <p class="other-proyect-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum odit cum ab maiores, suscipit itaque. Laboriosam, enim et.</p>
                            </div>
                            <div>
                                <ul class="more-proyects-skills">
                                    <li>Next.js</li>
                                    <li>Tailwind CSS</li>
                                    <li>Firebase</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-0">
                    <div class="col-4 proyect-col">
                        <div class="more-proyect-box">
                            <div class="row w-100 text-left m-0 p-0 mb-4">
                                <div class="col-6 p-0">
                                    <img src='assets/icons/folder.svg' width="40">
                                </div>
                                <div class="col-6 d-flex p-0 justify-content-end">
                                    <i class="ml-4 fab fa-github"></i>
                                    <i class="ml-4 fas fa-external-link-alt"></i>
                                </div>
                                <h5 class="other-proyect-title mt-4">Apple Music Embeddable Web Player Widget</h5>
                                <p class="other-proyect-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum odit cum ab maiores, suscipit itaque. Laboriosam, enim et.</p>
                            </div>
                            <div>
                                <ul class="more-proyects-skills">
                                    <li>Next.js</li>
                                    <li>Tailwind CSS</li>
                                    <li>Firebase</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 proyect-col">
                        <div class="more-proyect-box">
                            <div class="row w-100 text-left m-0 p-0 mb-4">
                                <div class="col-6 p-0">
                                    <img src='assets/icons/folder.svg' width="40">
                                </div>
                                <div class="col-6 d-flex p-0 justify-content-end">
                                    <i class="ml-4 fab fa-github"></i>
                                    <i class="ml-4 fas fa-external-link-alt"></i>
                                </div>
                                <h5 class="other-proyect-title mt-4">Apple Music Embeddable Web Player Widget</h5>
                                <p class="other-proyect-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum odit cum ab maiores, suscipit itaque. Laboriosam, enim et.</p>
                            </div>
                            <div>
                                <ul class="more-proyects-skills">
                                    <li>Next.js</li>
                                    <li>Tailwind CSS</li>
                                    <li>Firebase</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 proyect-col">
                        <div class="more-proyect-box">
                            <div class="row w-100 text-left m-0 p-0 mb-4">
                                <div class="col-6 p-0">
                                    <img src='assets/icons/folder.svg' width="40">
                                </div>
                                <div class="col-6 d-flex p-0 justify-content-end">
                                    <i class="ml-4 fab fa-github"></i>
                                    <i class="ml-4 fas fa-external-link-alt"></i>
                                </div>
                                <h5 class="other-proyect-title mt-4">Apple Music Embeddable Web Player Widget</h5>
                                <p class="other-proyect-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum odit cum ab maiores, suscipit itaque. Laboriosam, enim et.</p>
                            </div>
                            <div>
                                <ul class="more-proyects-skills">
                                    <li>Next.js</li>
                                    <li>Tailwind CSS</li>
                                    <li>Firebase</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 text-center">
                <button class="show-works-btn">Ver todo</button>
            </div>
        </div>
    </div>
</section>